@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$bp-xxlarge: 91em; // 1450px = 1450/16
$bp-xlarge: 79em;  // 1250px = 1250/16
$bp-large: 60em;   // 950px = 950/16
$bp-medium: 47em;  // 750px = 750/16
$bp-small: 35em;   // 550px = 550/16
$bp-xsmall: 28em;  // 450px = 450/16
$bp-xxsmall: 22em; // 350px = 350/16