.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
        display: block;
        flex: 0 0 20%;
        color: var(--color-primary);
        padding: 1.5rem;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 10rem;
        border-bottom: 3px solid transparent;
        transition: all .3s;

        @media only screen and (max-width: $bp-xsmall) {
            padding: .7rem;
            margin-bottom: 0;
        }
    }

    &__input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem var(--color-black, .2);
        border-bottom: 3px solid var(--color-correct-bor);
    }

    &__input:focus:invalid {
        border-bottom: 3px solid var(--color-incorrect-bor);
    }

    &__input:-webkit-autofill:focus {
        
        -webkit-text-fill-color: var(--color-primary);
    }

    &__input::-webkit-input-placeholder {
        -webkit-text-color: var(--color-primary, .1);
        text-align: center;
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: .4rem;
        margin-top: .2rem;
        display: block;
        transition: all .3s; 
        color: var(--color-white); 
    }

    /* to style the placeholder when it its shown on the input element. I want to style the label. I want that to be hidden, not the input. Input and label are siblings. Css has siblings selectors: + is the sibling selector for the first sibling after the first selected sibling. The sibling that you want to select always has to be after the first element. So the label needs to be after the input in order to be selected with the sibling selector: */
    &__input:placeholder-shown + &__label { 
        opacity: 0; 
        visibility: hidden; 
        transform: translateY(-4rem);  
    } 
}
