body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: .7px;
    line-height: 1.5;
}

h1, h2, h3, p{
    margin-block-start: 0;
    margin-block-end: 0;
}

h2, h3{
    margin-bottom: 1rem;
}

.heading-primary {
    font-size: 7rem;
    color: var(--color-primary-light);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    animation-name: moveInBottom;
    animation-duration: 3s;
    margin-right: -.7px; 

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    /* question counter */
    &--hud{
        margin-top: 7rem;
        font-size: 4rem;
        color: var(--color-primary-lighter);
        animation: none;
        margin-right: -.7px;
        text-transform: uppercase;

         /* Landscape */
        @media only screen 
        and (min-width: 768px) 
        and (max-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {
            font-size: 3rem;
        }

          /* Landscape */
       @media only screen 
       and (min-width: 500px) 
       and (max-width: 800px) 
       and (orientation: landscape) 
       and (-webkit-min-device-pixel-ratio: 1) {
           font-size: 1.5rem;
           margin-top: 0;
       }
        
        @media only screen and (max-width: $bp-xsmall) {
            font-size: 2rem;
            margin-top: 2rem;
        }

        @media only screen and (max-width: $bp-xxsmall) {
            margin-bottom: 0; 
        }
    }
}

/* display score at the end page */
#finalScore.heading-primary {

    margin-bottom: 10rem;
    font-weight: 700;

    &:hover{
        transform: scale(1.025);
    }

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 6rem;
        margin: 3.5rem 0 3rem .7px;
        line-height: 1;
    }
}

/* display High scores heading at the highscores page */
#finalScore.heading-primary.heading-primary--highscores {

    margin-top: 10rem;

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 5rem;
        margin-top: 7rem;
    }
}

/* display heading on the home page */
.home .heading-primary{
    text-align: center;
    margin-top: -8rem;
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-xlarge) {
        font-size: 6rem; 
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 5rem; 
    }

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 3rem;
        line-height: 3;
    }

    @media only screen and (max-width: $bp-xxsmall) {
        font-size: 2rem;
        line-height: 2; 
    }

    &--sub{
        font-size: 12rem;
        text-align: center;
        color: var(--color-white);
        font-weight: 900;
        letter-spacing: 0;
        line-height: 1;
        display: block;
        margin-right: 0;
        padding: 0 10rem;

        @media only screen and (max-width: $bp-xxlarge) {
            font-size: 12rem; 
        }

        @media only screen and (max-width: $bp-xlarge) {
            font-size: 9rem; 
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 8rem; 
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 8rem; 
        }

        @media only screen and (max-width: $bp-xsmall) {
            font-size: 5rem; 
        }

        @media only screen and (max-width: $bp-xxsmall) {
            font-size: 4rem; 
        }
    }
}

/* display the questions */
.heading-secondary {
    color: var(--color-off-white);
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 2rem;
    margin-bottom: 6rem;
    display: inline-block;
    max-width: 80rem;
    text-align: center;
    margin-right: -.7px;

    @media only screen and (max-width: $bp-large) {
        margin-bottom: 2rem;
    }

     /* Landscape */
    @media only screen 
        and (min-width: 768px) 
        and (max-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 70%;
        font-size: 2.3rem;
        margin-bottom: 3rem;
        margin-top: 0;
    }

       /* Landscape */
       @media only screen 
       and (min-width: 500px) 
       and (max-width: 800px) 
       and (orientation: landscape) 
       and (-webkit-min-device-pixel-ratio: 1) {
           font-size: 2rem;
       }

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 2.5rem; 
        line-height: 1.3;
        max-width: 95vw;
        margin: 0;
        margin-bottom: 4rem;
    }

    @media only screen and (max-width: $bp-xxsmall) {
        font-size: 2rem;
        line-height: 1.1; 
    }
}

.heading-tertiary {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 3px;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color-white);

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 2.3rem;
        line-height: 1.5;
        margin: 3rem 0;
        padding: 0 .5rem;
        letter-spacing: 1px;
    }
}
